body {
  background-color: #eceaec;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.journal-header {
  display: flex;
  align-items: center;
}

label,
input,
textarea {
  border-radius: 0.25rem;
  margin-bottom: 0.65rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

input {
  height: 2.5rem;
}

input,
textarea {
  border: 1px solid #b6b6b6;
}

input:focus,
textarea:focus {
  border: 1px solid #562b81;
  outline: none;
}

.image-container {
  margin-bottom: 0.65rem;
}

.image-url {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.save-btn {
  background-color: #562b81;
  color: white;
  width: 5.25rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.3rem;
  font-size: 1em;
}

.column-full.form-submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header {
  background-color: #562b81;
  color: white;
}
